@import '../../Styles/variables';
@import '../../Styles/breakpoints';

.overview {
  background-color: $background;
  height: calc(100vh - 147px);
  padding: 3em 1.5em;

  .overview-tag {
    color: $gray;
    text-transform: uppercase;
    font-size: 13px;
  }

  .overview-today {
    padding: 1em 0;

    .overview-today--hi {
      font-size: 2em;
      font-weight: 500;
      color: #fff;
      padding: 0.2em 0;
    }

    .overview-today--projects {
      color: $gray;
    }
  }

  .overview-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }
}